<FONT face="georgia">
<FONT size="4pt">

<article>

   <h1 align="center"><%= @video.title %></h1>
   <div>
       <%= @video.description %>
   </div>

   <hr>
   <div class="embed-container">   
   <%= embed(@video.video_link) %>
   </div>
   <hr>
</artcile>

<br>
<br>
<br>
<br>

</FONT>
</FONT>