<FONT face="georgia">
<FONT size="4pt">

<h1 align="center"><b>L'intitulé du Projet Web</b></h1>

<br>
<br>

<p>En 4ème année à l'ESIEA, nous avons du créer un site-web avec le langage <b>Ruby on Rails</b>.</p>
<br>
<p>Au départ, cela n'a pas été simple car c'était pour nous un nouveau langage. Je me suis aidé personnelement de plusieurs vidéos pour mener à bien ce projet. Il nous a été demandé de suivre les consignes suivantes pour le projet :</p>
<ul>
	<li>Site déployé sur une url quelconque</li>
	<li>Le site doit répondre aux requetes en html et JSON</li>
	<li>Utilisation de 3 types d'assocations différentes entre modèle</li>
	<li>Une base de données capable d'être migrate et rollback complètement</li>
	<li>Le code disponible sur GitHub</li>
	<li>Un respect du concept DRY</li>
	<li>Un rendu graphique correct et des JSON propres</li>
</ul>

<br>
<p>J'ai rencontré un peu de difficulté au départ sur le fonctionnement de mon compte github, puis sur la console, ce qui m'a fait perdre un peu temps sur le projet. </p>
<br>
<p>Dans ce projet j'ai appris le langage Ruby on Rails et j'ai perfectionné mes bases en html et css.</p>
<p>Le projet en lui-meme est sympathique à réaliser mais quand on le regarde de plus près, il demande de la concentration et du temps.</p>


<br>
<br>
<br>
<br>

</FONT>
</FONT>