<% provide(:title, "Contact") %>

<FONT face="georgia">
<FONT size="4pt">

<h1 align="center"> <b> Me Contacter</b></h1>

<br>
<br>
<br>

<form action="/ma-page-de-traitement" method="post">
    <div>
        <label for="nom">Votre Nom :</label>
        <input type="text" id="nom" />
    </div>
    <div>
        <label for="courriel">Votre Mail :</label>
        <input type="email" id="courriel" />
    </div>
    <div>
        <label for="message">Vos Commentaires :</label>
        <textarea id="message"></textarea>
    </div>

    <hr>
    
    <div class="button">
        <button type="submit">Appuyer ici pour envoyer votre commentaire</button>
    </div>
</form>

<br>
<br>
<br>
<br>

</FONT>
</FONT>
