<% provide(:title, "Accueil") %>


<FONT face="georgia">
<FONT size="4pt">

<div class="jumbotron">
   <h1 align="center"><b>Mon Site de Jeux</b></h1>

   <p>
       Bienvenue sur mon site-web qui vous montrera les derniers jeux de PS4. <br>
       Vous pourrez naviguez dans le site en ajoutant, modifiant ou meme supprimant 
       n'importe quel jeu lorsque celui ne sera plus d'actualité.
   </p>

</div>

   <p>
	Je vous propose de naviguer sur les différentes pages de mon site-web, vous pourrez regarder les jeux que je propose et même des vidéos associées. Vous aurez la possibilité de me contacter via l'onglet Contact et aussi voir mon CV (en français et en anglais) sur l'onglet dédié. La partie Admin vous permettra de modifier la base de données comme indiquée ci-dessus.
   </p>

<br>
<br>
<br>
<br>

</FONT>
</FONT>
