<% provide(:title, "Mon CV") %>

<FONT face="georgia">
<FONT size="4pt">

<h1 align="center"><b>Mon CV en ligne</b></h1>

<br>

<p  style=" margin: 12px auto 6px auto; font-family: Georgia; font-style: normal; font-variant: normal; font-weight: normal; font-size: 25px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">   <a title="View CV Anglais on Scribd" href="https://fr.scribd.com/document/328729390/CV-Anglais?secret_password=0Fdg3aB0lshIvR1vc7O3"  style="text-decoration: underline;" >Mon CV Anglais</a>
<br>
<br>
<p  style=" margin: 12px auto 6px auto; font-family: Georgia; font-style: normal; font-variant: normal; font-weight: normal; font-size: 25px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">   <a title="View CV Français on Scribd" href="https://www.scribd.com/document/328759401/CV-Francais#from_embed"  style="text-decoration: underline;" > Mon CV Français</a> 
<hr>

<br>
<br>
<br>
<br>

</FONT>
</FONT>

